{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col">
                <h1 class="page-title">Übersicht aller Käufe und Verkäufe</h1>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="card card-blue">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="buy-tab" data-bs-toggle="tab" data-bs-target="#buy" type="button" role="tab" aria-controls="buy" aria-selected="true">
                                    Käufe
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="sell-tab" data-bs-toggle="tab" data-bs-target="#sell" type="button" role="tab" aria-controls="sell" aria-selected="false">
                                    Verkäufe
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="buy" role="tabpanel" aria-labelledby="buy-tab">
                                {% if entries is empty %}
                                    <p class="text-center mt-3">
                                        Noch keine Käufe vorhanden
                                    </p>
                                {% else %}
                                    <table class="table text-center mt-3">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Datum</th>
                                            <th scope="col">Schicht</th>
                                            <th scope="col">Verkäufer</th>
                                            <th scope="col">Käufer</th>
                                            <th scope="col">Produkt</th>
                                            <th scope="col">Menge</th>
                                            <th scope="col">Preis/Stück</th>
                                            <th scope="col">Gesamtkosten</th>
                                            <th scope="col">Löschen</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set i = 1 %}
                                        {% for entry in entries %}
                                            <tr>
                                                <th scope="row">{{ i }}</th>
                                                <td title="{{ entry.created|date("d.m.Y H:i:s") }}">
                                                    {{ entry.created|date("d.m.Y") }}
                                                </td>
                                                <td>{{ entry.shift.time }}</td>
                                                <td>{{ entry.seller.name }}</td>
                                                <td>{{ entry.name ?? '-' }}</td>
                                                <td>{{ entry.product.name }}</td>
                                                <td>{{ entry.amount }}</td>
                                                <td>${{ entry.price|number_format(2, ',', '.') }}</td>
                                                <td>${{ (entry.amount * entry.price)|number_format(2, ',', '.') }}</td>
                                                <td>
                                                    <form method="POST" id="form-{{ entry.id }}">
                                                        <input type="hidden" name="entry-id" value="{{ entry.id }}">
                                                        <input type="hidden" name="action" value="buy">
                                                        <i class="delete-icon" data-entry-id="{{ entry.id }}"
                                                           style="cursor: pointer;">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                                 fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                                <path fill-rule="evenodd"
                                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                            </svg>
                                                        </i>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>

                            <div class="tab-pane fade" id="sell" role="tabpanel" aria-labelledby="sell-tab">
                                {% if sales is empty %}
                                    <p class="text-center mt-3">
                                        Noch keine Verkäufe vorhanden
                                    </p>
                                {% else %}
                                    <table class="table text-center mt-3">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Datum</th>
                                            <th scope="col">Verkäufer</th>
                                            <th scope="col">Produkt</th>
                                            <th scope="col">Menge</th>
                                            <th scope="col">Schwarzgeld</th>
                                            <th scope="col">Echtes Geld</th>
                                            <th scope="col">Löschen</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set i = 1 %}
                                        {% for sale in sales %}
                                            <tr>
                                                <th scope="row">{{ i }}</th>
                                                <td title="{{ sale.created|date("d.m.Y H:i:s") }}">
                                                    {{ sale.created|date("d.m.Y") }}
                                                </td>
                                                <td>{{ sale.name ?? '-' }}</td>
                                                <td>{{ sale.product.name }}</td>
                                                <td>{{ sale.amount }}</td>
                                                <td>${{ sale.blackMoney|number_format(2, ',', '.') }}</td>
                                                <td>${{ sale.blackMoney|number_format(2, ',', '.') }}</td>
                                                <td>
                                                    <form method="POST" id="form-{{ sale.id }}">
                                                        <input type="hidden" name="sale-id" value="{{ sale.id }}">
                                                        <input type="hidden" name="action" value="sell">
                                                        <i class="delete-icon" data-entry-id="{{ sale.id }}"
                                                           style="cursor: pointer;">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                                 fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                                <path fill-rule="evenodd"
                                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                            </svg>
                                                        </i>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/delete-entries.js') }}"></script>
{% endblock %}
