{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3 mb-3">

        <div class="row">
            <div class="col">
                <h1 class="page-title">
                    Auswertung von Woche {{ week }} - {{ startDate|date("d.m.Y") }} bis {{ endDate|date("d.m.Y") }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mt-2">
                <div class="card card-blue">
                    <div class="card-body">
                        <h4 class="card-title">
                            Käufe
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-hover mt-2 text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Produkt</th>
                                    <th scope="col">Anzahl</th>
                                    <th scope="col">Kosten</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in evaluationData %}
                                    <tr>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.purchases.amount|number_format(0, ',', '.') }}</td>
                                        <td>${{ data.purchases.price|number_format(0, ',', '.') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-2">
                <div class="card card-blue">
                    <div class="card-body">
                        <h4 class="card-title">
                            Verkäufe
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-hover mt-2 text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Produkt</th>
                                    <th scope="col">Anzahl</th>
                                    <th scope="col">Schwarzgeld</th>
                                    <th scope="col">Echtes Geld</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in evaluationData %}
                                    <tr>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.sales.amount|number_format(0, ',', '.') }}</td>
                                        <td>${{ data.sales.blackMoney|number_format(0, ',', '.') }}</td>
                                        <td>${{ data.sales.realMoney|number_format(0, ',', '.') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col-lg-12 mt-3">
                <div class="card card-blue">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Produkt</th>
                                    <th scope="col">Gekauft</th>
                                    <th scope="col">Verkauft</th>
                                    <th scope="col">Kosten</th>
                                    <th scope="col">Echtes Geld</th>
                                    <th scope="col">Gewinn</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in evaluationData %}
                                    <tr>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.purchases.amount }}</td>
                                        <td>{{ data.sales.amount }}</td>
                                        <td>${{ data.purchases.price|number_format(0, ',', '.') }}</td>
                                        <td>${{ data.sales.realMoney|number_format(0, ',', '.') }}</td>
                                        <td>${{ (data.sales.realMoney - data.purchases.price)|number_format(0, ',', '.') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                {% if week > 1 %}
                    <a class="btn btn-primary" href="{{ path('evaluation', {week: week - 1}) }}">
                        <i class="fa-solid fa-angles-left me-1"></i>
                        Vorherige Woche
                    </a>
                {% endif %}

                {% if week < 52 %}
                    <a class="btn btn-primary" href="{{ path('evaluation', {week: week + 1}) }}">
                        Nächste Woche
                        <i class="fa-solid fa-angles-right ms-1"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}