{% if (products|length == 0) or (fractions|length == 0) %}
    <p class="text-center fw-bold mt-3">
        Es muss mindestens jeweils ein <a href="{{ path('products') }}">Produkt</a> und eine <a
                href="{{ path('fractions') }}">Fraktion</a> angelegt sein,
        bevor du Kunden hinzufügen kannst.
    </p>
{% else %}
    {{ form_start(customerForm) }}
    <div class="row">
        <div class="col-md-6 mt-3">
            {{ form_row(customerForm.name) }}
        </div>
        <div class="col-md-6 mt-3">
            {{ form_row(customerForm.condition) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mt-3">
            {{ form_row(customerForm.product) }}
        </div>
        <div class="col-md-6 mt-3">
            {{ form_row(customerForm.fraction) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12  mt-3">
            {{ form_row(customerForm.save) }}
        </div>
    </div>
    {{ form_rest(customerForm) }}
    {{ form_end(customerForm) }}
{% endif %}